<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path='/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ get_url(path='/') }}">~</a>
        <a href="{{ get_url(path='/latest') }}">latest</a>
    </nav>

    <main>
        {% block content %}
        <h1>{{ section.title }}</h1>
        {{ section.content | safe }}
        {% endblock content %}
    </main>

    <footer>
        <a href="https://twitter.com/{{ config.extra.twitter }}" target="_blank" rel="noopener noreferrer">@{{ config.extra.twitter }}</a>
    </footer>
</body>
</html>
